@use '@angular/material' as mat;

// Define a simple light theme
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

// Include theme styles for all components
html {
  @include mat.all-component-themes($theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}